.scouts-purple{
    color: #7413dc;
    border-color: #7413dc;
}

.scouts-blue{
    color: #006ddf;
    border-color: #006ddf;
}

.scouts-teal{
    color: #00a794;
    border-color: #00a794;
}
.scouts-red{
    color: #e22e12;
    border-color: #e22e12;
}

.scouts-green{
    color: #23a950;
    border-color: #23a950;
}

.bg-scouts-purple{
    background: #7413dc;
    color: #FFFFFF;
}

.bg-scouts-blue{
    background: #006ddf;
    color: #FFFFFF;
}

.bg-scouts-teal{
    background: #00a794;
    color: #FFFFFF;
}
.bg-scouts-purple a,
.bg-scouts-purple a:visited{
    color: #FFFFFF !important;
}
